<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mouse Control</title>

  <style>
    .multi-buttons{
      margin-bottom: 5px;
      display: flex;
      justify-content: space-between;
      gap: 5px;
    }
    .green{ background-color: #04AA6D; }
    .button{
      width: 50%;
      aspect-ratio: 2;
    }
  </style>
</head>
<body>
  <h1>Control the Mouse</h1>
  <div>
    <label>Scale:</label>
    <input type="text" id="IP" value="10" oninput="onScaleChange()">
  </div>

  <div>
    <button onclick="moveMouse(100, 200)">Move to (100, 200)</button>
    <!-- <button onclick="getPosition()">Get Mouse Position</button> -->
  </div>

  <div style="display: flex; flex-direction: column;">
    <div class="multi-buttons">
      <button class="button" onclick="up()" >Up</button>
      <button class="button" onclick="down()" >Down</button>
    </div>
    <div class="multi-buttons">
      <button class="button" onclick="left()" >Letf</button>
      <button class="button" onclick="right()" >Right</button>
    </div>
  </div>

  <div>
    <button onclick="clickMouse()" style="height:150px; width:100%; margin-right: 40px; margin-bottom: 5px;">Click Mouse</button>
  </div>

  <!--
    border-style: outset;
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
  -->
  <div class="multi-buttons" >
    <button class="button" onclick="esc()">ESC</button>
    <button class="button" onclick="fullscreen()">FullSreen</button>
    <button class="button green" onclick="cleartext()">clear</button>
    <button class="button green" onclick="paste()">paste</button>
    <button class="button green" onclick="enter()">enter</button>
  </div>

  <div>
    <input type="text" id="text" style="margin-bottom: 5px; font-size:24px; width: 300px;" onblur="textOnBlur()" placeholder="  type"/>
  </div>

  <div id="touchpad"style="border:solid black 1px; width: 100%; height: 500px"></div>

  Log:
  <div>
    <pre id="log" style="border: 1px solid #ccc;"></pre>
  </div>
  <script>
    const ongoingTouches = [];
    var touchStartX;
    function log(msg) {
        const container = document.getElementById("log");
        //container.textContent = `${msg} \n${container.textContent}`;
    }
    function up(){
        fetch(
            "http://".concat(window.location.host).concat("/up")
        )
        .then(response => response.json())
        .then(data => console.log(data));
    }
    function down(){
        fetch(
            "http://".concat(window.location.host).concat("/down")
        )
        .then(response => response.json())
        .then(data => console.log(data));
    }
    function left(){
        fetch(
            "http://".concat(window.location.host).concat("/left")
        )
        .then(response => response.json())
        .then(data => console.log(data));
    }
    function right(){
        fetch(
            "http://".concat(window.location.host).concat("/right")
        )
        .then(response => response.json())
        .then(data => console.log(data));
    }
    function onScaleChange(){
        fetch(
            "http://".concat(window.location.host).concat("/scale")
            , {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ s: document.getElementById("IP").value })
        })
        .then(response => response.json())
        .then(data => {
            console.log(data)
            document.getElementById("IP").value = data["scale"]
        });
    }
    function moveMouse(x, y) {
        fetch(
            // 'http://localhost:5000/move_mouse'
            "http://".concat(window.location.host).concat("/move_mouse")
            , {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ x: x, y: y })
        })
        .then(response => response.json())
        .then(data => console.log(data));
    }
    function scroll(y) {
        fetch(
            // 'http://localhost:5000/scroll'
            "http://".concat(window.location.host).concat("/scroll")
            , {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({y: y })
        })
        .then(response => response.json())
        .then(data => console.log(data));
    }
    function clickMouse() {
        log("clickMouse")
        console.log(document.getElementById("IP").value)
        console.log("http://".concat(document.getElementById("IP").value).concat(":5000/click_mouse"))
        console.log(window.location.host)
        console.log("http://".concat(window.location.host).concat("/click_mouse"))
        fetch(
            // 'http://localhost:5000/click_mouse'
            "http://".concat(window.location.host).concat("/click_mouse")
            , {
            method: 'POST'
        })
        .then(response => response.json())
        .then(data => console.log(data));
    }
    function getPosition() {
        fetch(
            // 'http://localhost:5000/get_position'
            "http://".concat(window.location.host).concat("/get_position")
            )
        .then(response => response.json())
        .then(data => console.log(data));
    }
    function esc(){
        fetch(
            // 'http://localhost:5000/sendkey'
            "http://".concat(window.location.host).concat("/sendkey")
            , {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({k:'esc'})
        })
        .then(response => response.json())
        .then(data => console.log(data));
    }
    function fullscreen(){
        fetch(
            // 'http://localhost:5000/sendkey'
            "http://".concat(window.location.host).concat("/sendkey")
            , {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({k:'f'})
        })
        .then(response => response.json())
        .then(data => console.log(data));
    }
    function textOnBlur() {
        const el = document.getElementById("text");
        fetch(
            // 'http://localhost:5000/sendtext'
            "http://".concat(window.location.host).concat("/sendtext")
            , {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({text:el.value})
        })
        .then(response => response.json())
        .then(data => console.log(data));
    }
    function cleartext(){
        fetch(
            // 'http://localhost:5000/cleartext'
            "http://".concat(window.location.host).concat("/cleartext")
            )
        .then(response => response.json())
        .then(data => console.log(data));
    }
    function paste(){
        fetch(
            // 'http://localhost:5000/paste'
            "http://".concat(window.location.host).concat("/paste")
            )
        .then(response => response.json())
        .then(data => console.log(data));
    }
    function enter(){
        fetch(
            // 'http://localhost:5000/enter'
            "http://".concat(window.location.host).concat("/enter")
            )
        .then(response => response.json())
        .then(data => console.log(data));
    }
    function ongoingTouchIndexById(idToFind) {
      for (let i = 0; i < ongoingTouches.length; i++) {
        const id = ongoingTouches[i].identifier;
        if (id === idToFind) {
          return i;
        }
      }
      return -1; // not found
    }
    function copyTouch({ identifier, pageX, pageY }) {
      return { identifier, pageX, pageY,  };
    }
    function testclick(){
      log("click");
    }
    function handleStart(evt) {
      evt.preventDefault();
      log("touchstart.");
      const touches = evt.changedTouches;
      for (let i = 0; i < touches.length; i++) {
        ongoingTouches.push(copyTouch(touches[i]));
      }
      if(touches.length == 1){
        touchStartX = touches[0].pageX;
      }
    }
    function throttle(func, interval) {
        let lastCall = 0;
        return function (...args) {
            const now = Date.now();
            if (now - lastCall >= interval) {
                lastCall = now;
                func.apply(this, args);
            }
        };
    }
    function handleMove(evt) {
      evt.preventDefault();
      const touches = evt.changedTouches;
      if( touches.length == 1 ){
          log("move mouse");
          const ongoingIdx = ongoingTouchIndexById(touches[0].identifier);
          moveMouse(touches[0].pageX - ongoingTouches[ongoingIdx].pageX,
                    touches[0].pageY - ongoingTouches[ongoingIdx].pageY);
          ongoingTouches.splice(ongoingIdx, 1, copyTouch(touches[0])); // swap in the new touch record
          log(`ongoingTouches length=${ongoingTouches.length}`);
      }
      else if( touches.length == 2 ){
        log("scroll");
        var diffY = 0;
        for (let i = 0; i < touches.length; i++) {
            const ongoingIdx = ongoingTouchIndexById(touches[i].identifier);
            if (ongoingIdx >= 0) {
              diffY = diffY + touches[i].pageY - ongoingTouches[ongoingIdx].pageY;
              //log(`continuing scroll ${ongoingIdx}|diffY=${diffY}`);
              ongoingTouches.splice(ongoingIdx, 1, copyTouch(touches[i])); // swap in the new touch record
            } else {
              log(`not valid ongoingIdx=${ongoingIdx}`);
            }
          }
          scroll(diffY/2);
      }else{
        log("handleMove unknown bahavior");
      }
    }
    function handleEnd(evt) {
      evt.preventDefault(); //prevent browser continuing to process the touch event
      log(`touchend.`);
      const touches = evt.changedTouches;
      if(touches.length == 1 && touchStartX == touches[0].pageX){
        clickMouse();
      }
      //Must do this, clean ongoingTouches
      for (let i = 0; i < touches.length; i++) {
        let idx = ongoingTouchIndexById(touches[i].identifier);
        //log(`ctx.moveTo( ${ongoingTouches[idx].pageX}, ${ongoingTouches[idx].pageY} );`);
        //log(`ctx.lineTo( ${touches[i].pageX}, ${touches[i].pageY} );`);
        if (idx >= 0) {
          ongoingTouches.splice(idx, 1); // remove it; we're done
        } else {
          log("can't figure out which touch to end");
        }
      }
      log(`ongoingTouches length=${ongoingTouches.length}`);
    }
    function startTouchDetec() {
      log(`Browser width: ${window.innerWidth}, height: ${window.innerHeight}`);
      //notebook screen size:(1522,792)
      const el = document.getElementById("touchpad");
      el.addEventListener("touchstart", handleStart);
      el.addEventListener("touchend", handleEnd);
      // el.addEventListener("touchcancel", handleCancel);
      el.addEventListener("touchmove", throttle(handleMove, 10));//ms
      el.addEventListener("click", testclick);
    }

    //stop function define
    document.addEventListener("DOMContentLoaded", startTouchDetec);
    </script>
</body>
</html>
